.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(10% - 100px);
}
