.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
}

.voice-prompt-buttons {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.submit-buttons {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  /* min-height: 5vh; */
}

#live-wallpaper {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
}

.card {
  border: none;
}

body {
  overflow-y: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.form-control-lg::file-selector-button {
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  -webkit-margin-end: 1rem;
  margin-inline-end: 1rem;
}

.form-control:last-child {
  margin-bottom: 1.5rem;
}

textarea.form-control {
  min-height: calc(1.5em + 0.75rem);
}

textarea.form-control-sm {
  min-height: calc(1.5em + 0.5rem);
}

textarea.form-control-lg {
  min-height: calc(1.5em + 1rem);
}
