@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 199, 190, 182; /* #C7BEB6 */
  --background-middle-rgb: 231, 222, 215; /* #E7DED7 */
  --background-end-rgb: 239, 240, 242; /* #EFF0F2 */
  --background-bottom-rgb: 182, 198, 213; /* #B6C6D5 */
  --background-final-rgb: 129, 150, 171; /* #8196AB */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-middle-rgb)),
    rgb(var(--background-end-rgb)),
    rgb(var(--background-bottom-rgb)),
    rgb(var(--background-final-rgb))
  );
}

.fileUpload {
  position: absolute;
  top: 5%;
  width: 100%;
  transform: scale(1);
  animation: fadeIn 2s; /* Adjust the time as needed */
}

.filepond--root .filepond--panel-root {
  background-color: transparent !important;
  border: 1px solid white; /* Add a white outline */
}

.filepond--label-idle {
  display: flex;
  align-items: center; /* Vertically align items in the middle */
  justify-content: flex-start; /* Align items to the start of the container */
  font-size: 20px; /* Adjust as needed */
}

.filepond--root.filepond--hopper {
  height: 75px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@import 'filepond/dist/filepond.min.css';
@import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
